<h1>Artists</h1>

<%= form_tag artists_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<!-- <p><%# link_to "Advanced search", new_search_path %> </p> <br> -->


<p><%= link_to "Sort by Name A-Z", by_name_artists_path %></p>
<p><%= link_to "Sort by Latest", created_at_artists_path %></p>



<% @artists.each do |artist| %>
  <p><%= link_to artist.name, artist_path(artist.id) %></p>
<% end %>
