<h1 class="artist-name"><%= @artist.name %></h1>
<img class="artist-img" src="<%= @artist.image %>">

<!-- <ul>
   <%# @artists.each do |artist| %>
   <%# @artist = artist %>
     <li><%#=artist.name%>
       <%# @artist.photos.each do |photo| %>
       <%#= image_tag photo.artist_image %>
       <%# end %>
     </li>
   <%# end %>
   </ul>
    -->
<!-- <p><%# link_to "Songs", artist_songs_path %></p>
<%# @artist.songs.each do |song| %>
  <span class="song-title"><%#= song.title %></span>
<%# end %> -->


<div class="songmanager">
  <div class="song-input">
    <h1 class="song-header">Songs:</h1>

    <% if notice.present? %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>

    <%# render 'songs/form', song: @song %>
  </div>

  <hr/>

  <div class="song-list">
    <table class="striped-table" id="song-list-table">
      <%= render 'songs/song' %>
    </table>
  </div>

  <div class="song-updates">
    <a href="#" id="clear-all">Clear all</a>
  </div>
</div>
<%= link_to "Back", root_path %>
